* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url("../dest/images/tic-tac-toe-background.jpg") center no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    & > *:not(.header) {
        display: none;
    }
}

@mixin windowStyles {
    background-color: rgba(100, 0, 100, .8);
    padding: 2vh 4vh;
    color: #FFFFFF;
    border-radius: 30px;
}

@mixin button {
    cursor: pointer;
    padding: 3vh;
    background-color: #000000;
    color: #FFFFFF;
    border: 0;
    border-radius: 10px;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: .3s;
    &::-moz-focus-inner {
        border: 0;
    }
    &:active,
    &:focus {
        outline: none;
    }
}

@mixin btnHover {
    background-color: #fff;
    color: #000000;
}

body .active {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: scaleUp 1s;
}
body .hide {
    opacity: 0;
}

.header {
    width: 100%;
    .header__headlineBox {
        @include windowStyles();
        position: absolute;
        top: 1%;
        left: 50%;
        transform: scale(1) translateX(-50%);
        transform-origin: left;
        animation: showFromTop 5s;
        text-align: center;
    }
}
.description {
    width: 100%;
    .description__container {
        position: absolute;
        .description__container__btn {
            @include button();
        }
        .description__container__content {
            background-color: #000000;
            color: #FFFFFF;
            margin-top: 1%;
            padding: 1.5vh;
            border-radius: 10px;
            font-size: 1.2rem;
        }
    }
}

.welcome {
    .welcome__container {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        @include windowStyles();
        .welcome__container__headline {
            text-transform: uppercase;
            font-size: 2rem;
        }
        .welcome__container__btn {
            @include button();
        }
    }
}

.signChoose {
    .signChoose__container {
        @include windowStyles();
        width: 40vw;
        display: flex;
        align-items: center;
        flex-flow: column nowrap;
        .signChoose__container__headline {
            font-size: 2rem;
            text-align: center;
        }
        .signChoose__container__boxSigns {
            align-self: stretch;
            display: flex;
            justify-content: space-around;
            .signChoose__container__boxSigns__btn {
                width: 75px;
                height: 75px;
                border: 0;
                border-radius: 5px;
                cursor: pointer;
                &:active,
                &:focus {
                    outline: none;
                }
                &:active {
                    transform: scale(.9);
                    box-shadow: 4px 4px 3px black;
                }
                &::-moz-focus-inner {
                    border: 0;
                }
            }
            .signChoose__container__boxSigns__btn--circle {
                background: #FFFFFF url("../dest/images/circleSmall.png") center no-repeat;
            }
            .signChoose__container__boxSigns__btn--cross {
                background: #FFFFFF url("../dest/images/x-crossSmall.png") center no-repeat;
            }
        }
    }
}

.playing {
    width: 100%;
    min-height: 100vh;
    .playing__container {
        .playing__container__table, 
        .playing__container__table__row__cell {
            border: 4px solid black;
            box-shadow: 0 0 4px 2px black;
        }
        .playing__container__table {
            border-collapse: collapse;
            width: 100%;
            height: 100%;
            background-color: #FFFFFF;
        }
        .playing__container__table__row__cell {
            cursor: pointer;
            width: 33.3%;
            height: 33.3%;
            text-align: center;
            .playing__container__table__row__cell__img {
                max-width: 100%;
                display: none;
            }
            .show {
                display: inline;
            }
        }
    }
}

.afterGame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(150, 150, 150, .7);
    .afterGame__container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 100%;
        background-color: rgba(100, 0, 100, .8);
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        padding: 5vh 0;
        .afterGame__container__headline {
            font-size: 2rem;
            animation: pulsing 1s linear infinite alternate;
        }
        .afterGame__container__btn {
            @include button();
        }
    }
}

@media screen and (min-width: 1200px) {
    .description__container {
        width: 25%;
        top: 50%;        
        left: 17%;
        transform: translate(-50%, -50%) scale(1);
        .description__container__btn:hover {
            @include btnHover();
        }
    }
    .welcome__container .welcome__container__btn:hover,
    .afterGame__container .afterGame__container__btn:hover {
        @include btnHover();
    }
    .playing__container {
        width: 29vw;
        height: 29vw;
        .playing__container__table__row__cell:hover {
            background-color: darkorchid;
        }
    }
}

@media screen and (max-width: 1199px) {
    .description__container {
        width: 28%;
        bottom: 50%;
        right: 1%;
        transform: translateY(50%);
        text-align: center;
    }
    .playing__container {
        width: 40vw;
        height: 40vw;
    }
}
@media screen and (max-width: 900px) {
    .description__container {
        width: 60%;
        bottom: 1%;
        left: 50%;
        transform: translateX(-50%);
    }
    .playing__container {
        width: 50vw;
        height: 50vw;
    }
}

@media screen and (max-width: 600px) {
    html {
        font-size: 12px;
    }
    .header__headlineBox,
    .description__container,
    .signChoose .signChoose__container {
        width: 90vw;
    }
    .description .description__container .description__container__btn {
        padding: 2vh;
    }
    .playing__container {
        width: 77vw;
        height: 77vw;
    }
}

@keyframes showFromTop {
    0% {
        top: 0;
        transform: scale(0) translate(-50%, -50%);
    }
    30% {
        top: 50%;
        transform: scale(1) translate(-50%, -50%);
    }
    70% {
        top: 50%;
        transform: scale(1) translate(-50%, -50%);
    }
    100% {
        top: 1%;
        transform: scale(1) translate(-50%, 0);
    }
}

@keyframes scaleUp {
    from {transform: scale(0);}
    to {transform: scale(1);}
}

@keyframes pulsing {
    from {
        color: #000000;
        transform: scale(1);
    }
    to {
        color: #FFFFFF;
        transform: scale(1.5);
    }
}